footer{
height: 100px;

background-color: #D9D9D9;
}

.navbot{
padding-top: 25px;
height: 40px;
display: flex;
justify-content: center;
}

.navbot a img{
height: 30px;
margin: 10px 10px 10px 10px;
transition: 0.4s;
}


.navbot a img:hover{
  filter: drop-shadow(0 0 0.60rem black);
  transform: scale(1.1);
}

.navbot p{
	margin-right: 15px;
	margin-left: 15px;
}

