body{
	margin: 0;
	padding: 0;
	}
	
header{
width: 100%;
height: 80px;
background-color: #FF6E41;
}

ul{
padding: 0;
margin: 0;
list-style-type: none;
}

.navbar{
display: flex;
justify-content: center;
margin-left: 3%;
margin-right: 3%;
width: 94%;
height: 80px;
}

ul .logo img{
height: 60px;
margin: 10px 25px 10px 25px;

}	

.navbar a p{
letter-spacing: 3px;
	color: white;
	padding: 30px 5px 5px 5px;
	margin: 0 20px 0 20px;
	background: linear-gradient(to top, white 0,
			  white 2px, 
			  transparent 2.1px) no-repeat left bottom / 0 100%;
	transition: background-size 0.4s;
}
.navbar a p:hover{
  background-size: 100% 100%;
}
    

#active{

   background-size: 100% 100%;
}


a{
text-decoration: none}
	
/**
 * attribution:
 * 
 * 'https://fr.freepik.com/photos/nourriture' Nourriture photo créé par bristekjegor - fr.freepik.com
 * 
 * 
 * 
 * 
 * 
 * 
 * /
