@font-face {
    font-family: 'OLD';
    src: url('OLD.ttf') format('truetype');
}

.pres{
padding-top: 140px;
width: 100%;
}

.alaune{
padding-top: 40px;
}

.alaune .title{
margin:0;
text-align: center;
color: white;
background-color: black;
font-size: 100px;
padding-top:10px;
font-family: 'OLD';
}

.alaune img{

width: 600px;
}

.content-alaune{
display: flex;
justify-content: center;
padding: 3%;
}

.space img{
width: 80%;
padding-left: 10%;
transition: 0.3s;
}


.space img:hover{
transform:scale(1.05);
}
.space{
padding-top: 40px;
padding-bottom: 40px;
width: 100%;
display: flex;
justify-content: center;
background-image: url('../assets/background2.png');
}
