


.container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.content-photo{
	flex: 1;
	flex-direction: column;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;

	max-width: 100%;
	max-height: 100%;
	background-image: url("../assets/photos/pizza_img.jpg");
	background-size: cover;

	border: solid;
}

.content-carte{
	flex: 1;
	flex-direction: column;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;

	max-width: 100%;
	max-height: 100%;
	background-image: url("../assets/photos/resto.jpg");
	background-size: cover;
	border: solid;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);border: solid 3px black;
}

.content-info{
	display: flex;
	flex: 4;
	flex-direction: column;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
    margin-bottom: 5px;

	height: 600px;
}

.content-resto {
	display: flex;
	flex-direction: column;
	flex: 2;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;

	height: 600px;
}



.actual {
	display: flex;

	flex: 1;

	margin-top: 5px;
}

/* ------ MES INFORMATIONS ------ */

.my-infos {
	display: flex;
	flex: 2;

    
    background-image: url("../assets/photos/piza.jpg");

	border: solid;

	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);border: solid 3px black;
}

.entity {
	display: flex;
	flex: 1;

	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.block-type {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 60%;
    height: 10%;
    
    padding : 10px;

	border-radius: 10px;
	border: solid;
	box-shadow: 0 8px 6px -6px black;
}

.date-choice {
	display: flex;
	flex: 1;

	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	margin-top: 5px;
	background-color: white;
	border: solid;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);border: solid 3px black;
}

/* ------ TEXT ------ */

.title-section {
	text-align: center;
	font-family: system-ui, sans-serif;
	margin-top: 5px;
	color: #000;
	letter-spacing: 1px;

	font-size: 25px;
}
.title-section b{
	color: white;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}
.btn {
    background-color: rgb(104, 91, 91);
    color: black;
    border: 2px solid #555555;
  }

.btn:hover {
    background-color: #555555;
    color: white;
  }